In [18]:
import os
print(os.getcwd())

C:\Users\Muhammad\SpringboardProjects

In [19]:
import pandas as pd

file_path="C:\\Users\\Muhammad\\Downloads\\world_top_restaurants_dataset.csv"
df = pd.read_csv(file_path)

In [20]:
#make a copy of the DF, snakecase, lowercase and no extra spaces
clean_df=df.copy()
clean_df.columns = (clean_df.columns.str.strip().str.lower().str.replace(" ", "_"))
print(clean_df.columns.tolist())

['restaurant_name', 'city', 'country', 'cuisine_type', 'michelin_stars', 'average_price_usd', 'chef', 'established_year', 'seating_capacity', 'rating', 'signature_dish', 'years_operating', 'price_category', 'star_category', 'continent']

In [21]:
#remove any whitespaces from columns
str_cols = clean_df.select_dtypes(include=["object"]).columns
for col in str_cols:
    clean_df[col] = clean_df[col].str.strip()

In [22]:
#gets rid of exact duplicate rows
before_dupes = clean_df.shape[0]
clean_df = clean_df.drop_duplicates()
after_dupes = clean_df.shape[0]

In [23]:
#ensures numeric columns are numeric (bad values go to NaN)
numeric_cols = [
    "michelin_stars",
    "average_price_usd",
    "established_year",
    "seating_capacity",
    "rating",
    "years_operating",
]

for col in numeric_cols:
    clean_df[col] = pd.to_numeric(clean_df[col], errors="coerce")

In [24]:
#sort restaurants by rating then name
clean_df = clean_df.sort_values(
    by=["rating", "restaurant_name"],
    ascending=[False, True]
).reset_index(drop=True)

In [25]:
#shows cleaned data and verify its whats we want
clean_df.info()
clean_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   restaurant_name    50 non-null     object
 1   city               50 non-null     object
 2   country            50 non-null     object
 3   cuisine_type       50 non-null     object
 4   michelin_stars     50 non-null     int64
 5   average_price_usd  50 non-null     int64
 6   chef               50 non-null     object
 7   established_year   50 non-null     int64
 8   seating_capacity   50 non-null     int64
 9   rating             50 non-null     float64
 10  signature_dish     50 non-null     object
 11  years_operating    50 non-null     int64
 12  price_category     50 non-null     object
 13  star_category      50 non-null     object
 14  continent          50 non-null     object
dtypes: float64(1), int64(5), object(9)
memory usage: 6.0+ KB

,restaurant_name,city,country,cuisine_type,michelin_stars,average_price_usd,chef,established_year,seating_capacity,rating,signature_dish,years_operating,price_category,star_category,continent
0,Arpège,Paris,France,French Vegetarian,3,425,Alain Passard,1986,40,4.9,Heirloom Tomatoes,39,Ultra-Luxury,Three Stars,Europe
1,Odette,Singapore,Singapore,French Contemporary,3,320,Julien Royer,2008,32,4.9,Hokkaido Sea Urchin,17,Luxury,Three Stars,Asia
2,Osteria Francescana,Modena,Italy,Italian Contemporary,3,320,Massimo Bottura,1995,28,4.9,Five Ages of Parmigiano,30,Luxury,Three Stars,Europe
3,The French Laundry,Yountville,USA,French,3,390,Thomas Keller,1994,60,4.9,Oysters and Pearls,31,Luxury,Three Stars,North America
4,Alléno Paris,Paris,France,French Haute Cuisine,3,385,Yannick Alléno,2003,55,4.8,Cabbage & Caviar,22,Luxury,Three Stars,Europe

In [26]:
#saves cleaned data into a new csv
clean_file_path = "C:\\Users\\Muhammad\\Downloads\\world_top_restaurants_dataset_cleaned.csv"
clean_df.to_csv(clean_file_path, index=False)